:root {
    --primary-bg-color: blanchedalmond;
    --light-blue: #BEE5FD;
    --dark-blue: #01B4C6;
    --green: #97ce4c;
    --dark-green: #15682a;
    --pink: #F675DA;
    --yellow: #FFF874;
    --red: firebrick;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* Styles for the container holding the cards */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
/* Styles for each individual card */
.card {
    position: relative;
    display: grid;
    border: 1px solid black;
    margin: 15px;
    width: fit-content;
    background-color: var(--primary-bg-color);
    text-align: center;
    transform-style: preserve-3d;   /* Ensures 3D transformations are preserved */
    transition: transform 0.5s;     /* Adds a smooth transition effect to card flipping */
}
/* Styles for the back of the card */
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;    /* Hides the back of the card during the flip */
    background-color: var(--primary-bg-color);      /* BG color for the card back*/
    transform: rotateY(180deg);     /* Initial rotation to hide the back */
}
/* Styles for the card name, making it lighter in weight */
.card-name {
    font-weight:lighter;
}
/* Styles for a flipped card, triggering a rotation to reveal the back */
.card.flipped {
    transform: rotateY(180deg);
}
/* Responsive styles */
@media only screen and (max-width: 600px) {
    #cards-container {
        padding: 10px;
    }

    .card {
        margin: 10px;
    }
}
