:root {
    --primary-bg-color: blanchedalmond;
    --light-blue: #BEE5FD;
    --dark-blue: #01B4C6;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* */
#fetchCards {
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 12px 20px;
    font-size: 30px;
    background-color: var(--dark-blue);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}
/* Styles for the header */
header {
    background-color: var(--dark-blue);
    color: white;
    padding: 15px;
    text-align: center;
}
/* Styles for the container holding the cards */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
/* Styles for each individual card */
.card {
    position: relative;
    display: grid;
    border-radius: 5px;
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-bg-color);
    text-align: center;
    transform-style: preserve-3d;   /* Ensures 3D transformations are preserved for the children of the element */
    transition: transform 0.5s;     /* Adds a smooth transition effect to card flipping */
}
/* Styles for a flipped card, triggering a rotation to reveal the back */
.card.flipped {
    transform: rotateY(180deg);
}
/* Styles for the back of the card */
.card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 3px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    font-size: 18px;
    background: linear-gradient(135deg, var(--light-blue), var(--primary-bg-color));    /* Adds gradient bg to card backs */
    backface-visibility: hidden;    /* Hides the back of the card during the flip */
    transform: rotateY(180deg);     /* Initial rotation to hide the back */
}
/* Styles for the front and back buttons */
.card-btn,
.card-back-btn {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    font-size: 18px;
    background-color: var(--dark-blue);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}
/* Styles for buttons hover effect */
.card-btn:hover,
.card-back-btn:hover,
#fetchCards:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}
/* Responsive styles desktop */
@media (min-width: 1024px) {
    body {
        font-size: 16px;
    }

    #cards-container {
        padding: 40px;
    }

    .card {
        margin: 20px;
        padding: 10px;
    }

    .card-btn,
    .card-back-btn {
        bottom: 85px;
    }
}
/* Responsive styles tablet */
@media (min-width: 768) and (max-width: 1023px) {
    body {
        font-size: 14px;
    }

    #cards-container {
        padding: 30px;
    }

    .card {
        margin: 15px;
        padding: 8px;
    }

    .card-btn,
    .card-back-btn {
        bottom: 75px;
    }
}
/* Responsive styles mobile */
@media (max-width: 767px) {
    body {
        font-size: 12px;
    }

    #fetchCards {
        font-size: 12px;
    }

    #cards-container {
        padding: 20px;
    }

    .card {
        margin: 10px;
        padding: 5px;
    }

    .card-btn,
    .card-back-btn {
        bottom: 65px;
    }
}