:root {
    --primary-bg-color: blanchedalmond;
    --light-blue: #BEE5FD;
    --dark-blue: #01B4C6;
    --green: #97ce4c;
    --dark-green: #15682a;
    --pink: #F675DA;
    --yellow: #FFF874;
    --red: firebrick;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: var(--dark-blue);
    color: white;
    padding: 15px;
    text-align: center;
}
/* Styles for the container holding the cards */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
/* Styles for each individual card */
.card {
    position: relative;
    display: grid;
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-bg-color);
    text-align: center;
    transform-style: preserve-3d;   /* Ensures 3D transformations are preserved */
    transition: transform 0.5s;     /* Adds a smooth transition effect to card flipping */
}
/* Styles for the back of the card */
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px;
    background: linear-gradient(135deg, var(--light-blue), var(--primary-bg-color));
    backface-visibility: hidden;    /* Hides the back of the card during the flip */
    background-color: var(--primary-bg-color);      /* BG color for the card back*/
    transform: rotateY(180deg);     /* Initial rotation to hide the back */
}
/* Styles for the front and back buttons */
.card-btn,
.card-back-btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    cursor: pointer;
}
/* Styles for buttons hover effect */
.card-btn:hover,
.card-back-btn:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}
/* Styles for the card name */
.card-name {
    font-weight:lighter;
}
/* Styles for a flipped card, triggering a rotation to reveal the back */
.card.flipped {
    transform: rotateY(180deg);
}
/* Responsive styles */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    header {
        padding: 15px;
    }
    #cards-container {
        padding: 15px;
    }
    .card {
        margin: 15px;
    }
    .card-btn,
    .card-back-btn {
        font-size: 16px;
    }
    .card-back {
        padding: 40px;
    }
    .card-name {
        font-size: 16px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
    header {
        padding: 12px;
    }
    #cards-container {
        padding: 10px;
        gap: 10px;
    }
    .card {
        margin: 10px;
    }
    .card-btn,
    .card-back-btn {
        font-size: 14px;
    }
    .card-back {
        padding: 30px;
    }
    .card-name {
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px) {
    header {
        padding: 10px;
    }
    #cards-container {
        padding: 5px;
    }
    .card {
        margin: 10px;
    }
    .card-btn,
    .card-back-btn {
        font-size: 18px;
    }
    .card-back {
        padding: 30px;
    }
    .card-name {
        font-size: 24px;
    }
}